.projects-container {
  
  display: flex;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  font-family: Consolas, Courier, monospace;
  margin: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: white;
  width: 270px;
}

.project-card img {
  width: 100%;
  margin-bottom: 10px;
}

.project-details {
  text-align: center;
  color: black;
  padding: 10px;
}
