.activitybar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 63px;
    background-color: #333333;
     /* background-color: white; */
    height: 90vh;
    position: fixed;
}

.bottom {
    display: flex;
    flex-direction: column;
}