.status {
    width: 100vw;
    position: fixed;
    background-color: #007ACC;
    height: 25px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.double-arrow {
    padding: 5px 15px;
    background-color: #16825D;
}

.git-icon {
    padding-left: 10px;
    padding-right: 10px;
}

.sync-icon{
    padding-left: 7px;
}

.status-left {
    display: flex;
    align-items: center;
}

.status-right {
    display: flex;
    align-items: center;
}

.bell {
    padding: 5px 20px;
}

.pretty-txt {
    font-size: 14px;
    padding-left: 5px;
}

.status-txt {
    padding-right: 40px;
}