body {
  margin: 0;
  /* user-select: none; */
  background-color: #1E1E1E;
  color: white;
  font-family: 'Segoe UI';
  caret-color: transparent;
}

.rotate-message {
  display: none; 
}

.rotate-icon {
  animation: rotate 2s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 768px) {
  .main-content {
    display: none;
  }
  .rotate-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
  }
}