.terminal-container {
  position: fixed;
  bottom: 15px;
  margin: 20px 0px 10px 0px;
  width: 100%;
  padding: 5px;
  height: 250px; 
  background-color: #1E1E1E; 
  overflow-x: hidden ; 
  border-top: 1px solid #414141;
  border-radius: 0px;
}

.terminal {
  font-family: Consolas, Courier, monospace;
  color: #CCCCCC;
  font-size: 17px;
  margin: 0px;
  
  padding-left: 15px;
  height: fit-content; 
  overflow-y: hidden; 
  white-space: pre-wrap; 
  word-wrap: break-word;
  
}

.terminal-wrapper {
  margin-top: 25px;
  padding-top: 5px;
  caret-color: white;
}

.terminal p {
  margin: 0;
  padding: 0px;
}


.prompt {
  font-family: Consolas, Courier, monospace;
  display: flex;
  align-items: center;
  margin-left: 15px;
  font-size: 17px;
}

.path {
  color: #61afef; 
}

.tilde {
  color: white; 
}

.input {
  background-color: transparent;
  color: #CCCCCC; 
  border: none;
  outline: none;
  font-family: Consolas, Courier, monospace;
  font-size: 17px;
  padding-left: 10px;
}

.cursor {
  display: inline-block;
  width: 30px;
  height: 20px;
  background-color: white; /* White color for cursor */
  animation: blink 1s infinite;
}

/* @keyframes blink {
  50% {
    opacity: 0;
  }
} */

/* WebKit browsers */
.terminal-container::-webkit-scrollbar {
  width: 15px; /* Width of scrollbar */
}

.terminal-container::-webkit-scrollbar-thumb {
  background-color: #444; /* Color of scrollbar thumb */
  border-radius: 4px; /* Round the corners of the thumb */
}

.terminal-container::-webkit-scrollbar-track {
  background-color: #1E; /* Color of scrollbar track */
}



.options-menu {
  display: flex;
  position: fixed;
  background-color: #1E1E1E;
  margin-top: -5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.option {
  text-transform: uppercase;
  font-weight: light;
  cursor: pointer;
  color: #C1CCCC;
  font-size: 13px;
  padding: 5px 20px 5px 20px;
  font-family: 'Segoe UI';
  /* transition: color 0.3s ease; */
}

.option:hover {
  color: #fff; /* Change color on hover */
}


.op-term {
  text-transform: uppercase;
  font-weight: light;
  cursor: pointer;
  color: #fff;
  font-size: 13px;
  padding: 5px 20px 5px 20px;
  font-family: 'Segoe UI';
  border-bottom: 1px solid white;
}